/* image d'accueil */
.img-acc {
    height: 550px;
    background: url(../images/img-acc.jpg) no-repeat center center fixed;
    background-size: cover;
}
/* menu */

.navbar-nav a {
    font-family: 'Aleo', sans-serif;
    color: #508186; 
    font-weight: bold;
    font-size: 1.2em;
}

/* texte d'accueil */
.text-acc {
    color: #f4e8d8;
}
.text-acc h1 {
    font-family: 'Francois One', sans-serif;
    font-size: 4em;
    font-weight: bold;
}
.text-acc p {
    font-family: 'Aleo', sans-serif;
    font-size: 1.7em;
    font-weight: bold;
}

/* footer */
footer {
    height: 15%;
    background-color: #508186;
    color:  #f4be6a;
    font-family: 'Aleo', sans-serif;
    font-weight: bold;
}
footer ul {
    list-style: none;
}
footer a {
    color:  #f4be6a;
    font-family: 'Aleo', sans-serif;
    font-weight: bold;
}
footer button {
    background-color: #f4e8d8;
    color: #508186;
    font-family: 'Aleo';
    font-weight: bold;
    border-radius: 5%;
    margin-top: 1%;
}

@media screen and (max-width: 760px) {
    footer a {
        display: none;
    }
    footer ul {
        display: none;
    }
}